@function calculator($calculation) {
  $value: $calculation;
  @return #{$value};
}

// Transitions
@mixin transition($duration) {
  transition: $duration ease-in-out;
}

// Helpers
@mixin resetList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  li {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}